<div id='container'>
  <header>
    <div id='logo'>
      <button class='need_to_hover'>
        <img src='/icons/logo.svg' alt='' />
      </button>
    </div>
    <nav class='menu'>
      <ul>
        <li><a href='#'>Main</a></li>
        <li><a href='#'>Catalog</a></li>
        <li><a href='#' id='last_a'>Your Posts</a></li>
      </ul>
    </nav>
    <div id='buttons_nav'>
      <button id='last_btn' class='need_to_hover'>
        <img src='/icons/buy.svg' alt='' />
      </button>

      <button class='need_to_hover'>
        <a href='user_profile.hbs'><img src='/icons/account.svg' alt='' /></a>
      </button>
    </div>
  </header>
  <div id='content'>

  </div>
</div>